<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brand Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Update brand</h2>
                <a th:href="@{/brands}" class="btn btn-outline-primary">Back to brands</a>
            </div>

            <!--            <form th:action="@{/posts/__${postId}__/comments/__${commentId}__/edit}"-->
            <!--            ("/brand-update/{brandName}")-->
            <form th:action="@{/brand-update/__${brand.getBrandName()}__/}"
                  th:object="${brand}" method="post">

                <div class="mb-3">
                    <label for="new-post-body" class="form-label">brand name</label>
                    <textarea id="new-post-body" th:field="*{getBrandName()}" class="form-control" required
                              minlength="2" maxlength="32"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Publish updated brand</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<div class="container mt-5">-->
<!--    <h2>Brand Details</h2>-->
<!--    <form th:action="@{/brands/brand-update/{brand}(brand=${brand.getBrandName()})}" method="post"-->
<!--          th:object="${brand}">-->
<!--        <div class="form-group">-->
<!--            <label for="brand">Brand</label>-->
<!--            <input type="text" class="form-control" id="brand" name="brand.getBrandName" required>-->
<!--            &lt;!&ndash;            <label for="brand">Name of Brand</label>&ndash;&gt;-->
<!--            &lt;!&ndash;            <input type="text" class="form-control" id="brand" name="brand" th:value="${brand.getBrandName()}" readonly>&ndash;&gt;-->
<!--            &lt;!&ndash;            <button type="submit" class="btn btn-primary mr-2">Edit</button>&ndash;&gt;-->
<!--            &lt;!&ndash;            <button type="button" class="btn btn-primary ml-2" onclick="editName()">Edit Name</button>&ndash;&gt;-->
<!--            <div class="d-grid gap-2">-->
<!--                <button type="submit" class="btn btn-primary">Publish updated brand</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input type="hidden" id="id" name="id" th:value="${brand.getBrandName()}">-->
<!--        <button type="submit" class="btn btn-primary mr-2" id="saveBtn" style="display: none;">Save</button>-->
<!--        <a class="btn btn-secondary" th:href="@{/brands/}">Cancel</a>-->
<!--    </form>-->
<!--</div>-->


<!--<div>-->

<!--<form th:action="@{/brands/brand-update/{id}(id=${brand.getId()})}"-->
<!--      th:object="${brandDto}" method="post">-->

<!--    <div class="mb-3">-->
<!--        <label for="new-post-body" class="form-label">brandName</label>-->
<!--        <textarea id="new-post-body" th:field="*{brandName}" class="form-control" required minlength="2" maxlength="32"></textarea>-->
<!--    </div>-->
<!--    <div class="d-grid gap-2">-->
<!--        <button type="submit" class="btn btn-primary">Publish updated brand</button>-->
<!--    </div>-->
<!--</form>-->
<!--</div>-->

<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script>
    // function editName() {
    //     $('#name').prop('readonly', false);
    //     $('#name').focus();
    //     $('#name').addClass('bg-light');
    //     $('#saveBtn').show();
    // }
</script>
</body>
</html>
