<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <title>Brands</title>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">-->
<!--</head>-->
<head th:replace="fragments/head :: head">
</head>
<body>

<header class="header_section">
    <div class="container-fluid">
        <nav th:replace="fragments/navbar :: navbar-employee-logged-in">
        </nav>
    </div>
</header>

<div class="container mt-5">
    <h2>Brands</h2>
    <a th:href="@{/employee/}" class="btn btn-primary mb-2">Dashboard</a>
    <a th:href="@{/brands/new}" class="btn btn-primary mb-2">New Brand</a>
    <a th:href="@{/carModels}" class="btn btn-primary mb-2">All car models</a>
    <form method="post" th:action="@{/brands/}" th:object="${brandFilterDto}" class="form-inline mb-3">
        <label for="sortBy"></label>
        <select type="hidden" id="sortBy" name="sortBy" class="form-control mx-2">
            <option type="hidden" value="brandName"></option>
        </select>

        <label for="sortOrder">Sort Order:</label>
        <select id="sortOrder" name="sortOrder" class="form-control mx-2">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit" class="btn btn-primary mx-2">Sort</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>brand</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.brandName}"></td>

            <td>
                <a class="h6 m-3" th:href="@{'/brands/brand-update/' + ${brand.getId()}}">Edit</a>
                <a class="h6" th:href="@{'/brands/delete/' + ${brand.getId()}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

<footer th:replace="fragments/footer :: footer-not-logged-in">
</footer>


</body>
</html>