<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
        <nav th:replace="fragments/navbar :: navbar-not-logged-in"></nav>
    </div>
</header>
<!-- end header section -->

<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container ">
                        <h2>
                            Get In Touch
                        </h2>
                        <p>
                            If your car needs maintenance or repair, please do not hesitate to contact us.
                            Give us a call on the phone number described below and see the location of our car garage service.
                            Come and visit us, we will generate a unique profile for you, where you can choose what are the services your car need
                            and we will take care of it!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->

<!-- info section -->

<section th:replace="fragments/info-section :: info-section"></section>
<!-- end info section -->

<!-- footer section -->
<footer th:replace="fragments/footer :: footer-not-logged-in">
</footer>
<!-- footer section -->

<!-- jQery -->

<script src="/static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!-- bootstrap js -->
<script src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<!-- custom js -->
<script src="/static/js/custom.js" th:src="@{/js/custom.js}"></script>


</body>

</html>