<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>
<body>

<header class="header_section">
    <div class="container-fluid">
        <nav th:replace="fragments/navbar :: navbar-employee-logged-in">
        </nav>
    </div>
</header>

<div class="container mt-5">
    <h1>New model</h1>
    <form method="post" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${carModelDto}">
        <div class="form-group">
            <label for="brand">Brand:</label>
            <select class="form-control" name="brand" id="brand" required>
                <option value="">-- Select Brand --</option>
                <option th:each="brand : ${brands}" th:value="${brand.getId()}"
                        th:text="${brand.brandName}"></option>
            </select>
            <label for="carModel">Name of model</label>
            <input type="text" class="form-control" id="carModel" required
                   th:field="${carModelDto.modelName}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/carModels/}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
        integrity="sha512-kK3qKNRs0tJyVfTgTtTqvTQKXhB0ZM7VBsGz8MBjK1sGB0AdJtVgTtHymT2lhG+JAGYfzfVieTHwkcH8djrh1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const brands = [[${#httpServletRequest.getAttribute('brands')}]];

    function populateBrands() {
        console.log("populateBrands() called");
        const brandDropdown = document.getElementById("brand");

    }
</script>




</body>
</html>