<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New model</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
  <h1>New model</h1>
  <form method="post" th:action="@{__${#httpServletRequest.requestURI}__}"
        th:object="${carModelDto}">
    <div class="form-group">
      <label for="brand">Brand:</label>
      <select class="form-control" name="brandId" id="brand" required>
        <option value="">-- Select brand --</option>
        <option th:each="brand : ${brands}" th:value="${brand.brandName}"
                th:text="${brand.brandName}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a th:href="@{/carModels/}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
        integrity="sha512-kK3qKNRs0tJyVfTgTtTqvTQKXhB0ZM7VBsGz8MBjK1sGB0AdJtVgTtHymT2lhG+JAGYfzfVieTHwkcH8djrh1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const brands = [[${#httpServletRequest.getAttribute('brands')}]];

  function populateBrands() {
    console.log("populateBrands() called");
    //  const selectedOwner = document.getElementById("owner").value;
    const brandDropdown = document.getElementById("brand");
    //const filteredVehicles = vehicles.filter(vehicle => vehicle.user.id.toString() === selectedOwner);
    // console.log("filteredVehicles: " + filteredVehicles);

    // Clear existing options
    while (brandDropdown.options.length > 1) {
      brandDropdown.remove();
    }
  }
</script>
</body>
</html>