<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav th:replace="fragments/navbar :: navbar-not-logged-in">
      </nav>    </div>
  </header>
  <!-- end header section -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4" th:each="service, status : ${allServices}">
          <div class="box">
            <div class="img-box">
              <img th:if="${status.index % 4 == 0}" th:src="@{/images/s1.png}" alt="">
              <img th:if="${status.index % 4 == 1}" th:src="@{/images/s2.png}" alt="">
              <img th:if="${status.index % 4 == 2}" th:src="@{/images/s3.png}" alt="">
              <img th:unless="${status.index % 4 == 0 || status.index % 4 == 1 || status.index % 4 == 2}" th:src="@{/images/s4.png}" alt="">
            </div>
            <div class="detail-box">
              <h4 th:text="${service.getName()}">
                General Maintenance
              </h4>
              <p th:text="${service.getPrice()} + 'BGN'">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="info_contact ">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="link-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Location
                    </span>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      Call +01 1234567890
                    </span>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                      demo@gmail.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5  col-lg-3 mx-auto">
            <div class="info_form ">
              <form action="#">
                <input type="email" placeholder="Enter Your Email" />
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="info_logo">
          <a class="navbar-brand" href="index2.html">
            <span>
              Motora
            </span>
          </a>
        </div>
        <div class="social-box">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer th:replace="fragments/footer :: footer-not-logged-in">
  </footer>
  <!-- footer section -->

  <!-- jQery -->

  <script src="/static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <!-- bootstrap js -->
  <script src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  <!-- custom js -->
  <script src="/static/js/custom.js" th:src="@{/js/custom.js}"></script>


</body>

</html>