<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Services</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Car Services</h2>
    <a th:href="@{/services/service-new}" class="btn btn-primary mb-2">New Service</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${all}">
            <td th:text="${service.name}"></td>
            <td th:text="${service.price}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
