<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5" th:style="${'max-width: 1240px;'}">
    <h2>Users</h2>
    <a th:href="@{/employee}" class="btn btn-primary mb-2">Dashboard</a>
    <a th:href="@{/users/generateUser}" class="btn btn-primary mb-2">Generate a new user</a>
    <form method="get" th:action="@{/users/all}" th:object="${filterOptions}" class="form-inline mb-3">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" name="sortBy" class="form-control mx-2">
            <option value="None">None</option>
            <option value="Username">Username</option>
            <option value="Date">Visit Date</option>
        </select>
        <label for="sortOrder">Sort Order:</label>
        <select id="sortOrder" name="sortOrder" class="form-control mx-2">
            <option value="None">None</option>
            <option value="Asc">Ascending</option>
            <option value="Sesc">Descending</option>
        </select>

        <button type="submit" class="btn btn-primary mx-2">Sort</button>
    </form>
    <form method="get" th:action="@{/users/all}" th:object="${filterOptions}" class="form-inline mb-3">

        <label for="carModel">Username:</label>
        <input type="text" th:field="*{username}" id="carModel" carModel="carModel" class="form-control mx-2">

        <label for="carModel">Vehicle Vin:</label>
        <input type="text" th:field="*{vehicleVin}" id="username" carModel="carModel" class="form-control mx-2">

        <label for="email">Email:</label>
        <input type="text" th:field="*{email}"  id="email" brand="email" class="form-control mx-2">

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" th:field="*{phoneNumber}"  id="phoneNumber" creationYear="phoneNumber" class="form-control mx-2">
        <button type="submit" class="btn btn-primary mx-2">Search</button>

    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.getUsername()}">Username</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getPhoneNumber()}">Phone Number</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
