<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicles</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Vehicles</h2>
    <a th:href="@{/employee/}" class="btn btn-primary mb-2">Dashboard</a>
    <a th:href="@{/vehicles/new}" class="btn btn-primary mb-2">New Vehicle</a>
    <form method="post" th:action="@{/vehicles/}" class="form-inline mb-3">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" name="sortBy" class="form-control mx-2">
            <option value="carModel">carModel</option>
            <option value="brand">brand</option>
            <option value="brand">creation year</option>
        </select>
        <label for="sortOrder">Sort Order:</label>
        <select id="sortOrder" name="sortOrder" class="form-control mx-2">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit" class="btn btn-primary mx-2">Sort</button>
    </form>
    <form method="post" th:action="@{/vehicles/}" class="form-inline mb-3">

        <label for="user">Owner:</label>
        <input type="text" id="user" name="user" class="form-control mx-2">
        <button type="submit" class="btn btn-primary mx-2">Search</button>

        <label for="carModel">Model:</label>
        <input type="text" id="carModel" name="carModel" class="form-control mx-2">
        <button type="submit" class="btn btn-primary mx-2">Search</button>

        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" class="form-control mx-2">
        <button type="submit" class="btn btn-primary mx-2">Search</button>

        <label for="creationYear">CreationYear:</label>
        <input type="text" id="creationYear" name="creationYear" class="form-control mx-2">
        <button type="submit" class="btn btn-primary mx-2">Search</button>

    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>License plate</th>
            <th>owner</th>
            <th>VIN</th>
            <th>Creation year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.getModelId().getBrand().getBrandName()}">brand</td>
            <td th:text="${vehicle.getModelId().getModelName()}">carModel</td>
            <td th:text="${vehicle.getLicensePlate()}">license plate</td>
            <td th:text="${vehicle.getUser().getUsername()}">owner</td>
            <td th:text="${vehicle.getVIN()}">VIN</td>
            <td th:text="${vehicle.getCreationYear()}">Creation year</td>
            <td>
                <a class="h6 m-3" th:href="@{'/vehicles/vehicle-update/' + ${vehicle.vehicleId}}">Edit</a>
                <a class="h6" th:href="@{'/vehicles/delete/' + ${vehicle.vehicleId}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
