<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visits</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Visits</h2>
    <a th:href="@{/employee/}" class="btn btn-primary mb-2">Dashboard</a>
    <a th:href="@{/visits/visit-new}" class="btn btn-primary mb-2">New Visit</a>
    <form method="get" th:action="@{/visits/}" th:object="${filterOptions}" class="form-inline mb-3">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" name="sortBy" class="form-control mx-2" th:value="${filterOptions.sortBy}">
            <option value="none">None</option>
            <option value="username">Username</option>
            <option value="status">Status</option>
            <option value="createDate">Create Date</option>
            <option value="dueDate">Due Date</option>
        </select>
        <label for="sortOrder">Sort Order:</label>
        <select id="sortOrder" name="sortOrder" class="form-control mx-2" th:value="${filterOptions.sortOrder}">
            <option value="none">None</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit" class="btn btn-primary mx-2">Sort</button>
    </form>
    <form method="get" th:action="@{/visits/}" th:object="${filterOptions}" class="form-inline mb-3">
        <label for="search-by-username">Search by:</label>
        <select id="search-by-username" name="username" class="form-control mx-2">
            <option value="">All</option>
            <option th:each="user : ${users}" th:value="${user.username}"
                    th:text="${user.username}"></option>
        </select>
        <select id="search-by-vehicle" name="brand" class="form-control mx-2">
            <option value="">All</option>
            <option th:each="vehicle : ${vehicles}" th:value="${vehicle.getCarModelId().getBrand().getBrandName()}"
                    th:text="${vehicle.user.username+' - '+vehicle.getCarModelId().getBrand().getBrandName()+' - '+vehicle.licensePlate}"></option>
        </select>
        <select id="search-by-status" name="status" class="form-control mx-2">
            <option value="">All</option>
            <option value="Not started" th:selected="${filterOptions.status == 'Not started'}">Not started</option>
            <option value="In progress" th:selected="${filterOptions.status == 'In progress'}">In progress</option>
            <option value="Completed" th:selected="${filterOptions.status == 'Completed'}">Completed</option>
        </select>
        <div class="form-group">
            <label for="search-by-startDate" style="display: block;">Start Date:</label>
            <input type="date" id="search-by-startDate" name="startDate" class="form-control mx-2" th:value="${filterOptions.startDate}">
        </div>

        <div class="form-group">
            <label for="search-by-endDate" style="display: block;">End Date:</label>
            <input type="date" id="search-by-endDate" name="endDate" class="form-control mx-2" th:value="${filterOptions.endDate}">
        </div>

        <button type="submit" class="btn btn-primary mx-2">Search</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle</th>
            <th>User</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Message board</th>
            <th style="text-align: right;">
                <input type="checkbox" id="onlyArchived" />
                <label for="onlyArchived">Only Archived</label></th>
            <th style="text-align: right;">
                <input type="checkbox" id="includeArchived" />
                <label for="includeArchived">Including Archived</label></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${all}">
            <td><a th:href="@{/visits/visit-view/{id}(id=${visit.getId()})}" th:text="${visit.id}">Visit ID</a></td>
            <td th:text="${visit.vehicle.getCarModelId().getBrand().getBrandName()+' | '
                +visit.vehicle.getCarModelId().getModelName()+' | '
                +visit.vehicle.getLicensePlate()}"></td>
            <td th:text="${visit.getVehicle().getUser().username}"></td>
            <td th:text="${visit.startDate}"></td>
            <td th:text="${visit.dueDate}"></td>
            <td th:text="${visit.status}"></td>
            <td>
                <a class="h6 m-3" th:href="@{'/visits/visit-update/' + ${visit.id}}" th:if="${!visit.isArchived()}">Modify</a>
                <a class="h6 m-3" th:href="@{'/visits/visit-invoice/' + ${visit.id}}">Invoice</a>
                <form method="post" th:action="@{/visits}" th:object="${visit}">
                    <input type="hidden" name="visitId" th:value="${visit.id}" />
                    <button type="submit" class="h6 m-3" th:text="${visit.isArchived() ? 'Unarchive' : 'Archive'}">Archive</button>
                    <input type="hidden" name="archived" th:value="${!visit.isArchived()}" />
                </form>
            </td>
            <th:block th:if="${visit.getServices().size == 0}">
                <td colspan="6" class="text-danger">This order doesn't have any services, please update the order!</td>
            </th:block>
            <th:block th:if="${visit.getStatus().getName() == 'Completed' and visit.isArchived == false}">
                <td colspan="6" class="text-danger">This order is completed, please archive it!</td>
            </th:block>
            <th:block th:if="${visit.isArchived == true}">
                <td colspan="6" class="text-danger">Archived</td>
            </th:block>
            <th:block th:if="${visit.isArchived == false and visit.getStatus().getName() != 'Completed'
            and visit.services.size() > 0}">
                <td colspan="6" class="text-success">Active</td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script>
    // Retrieve the state of the checkbox from localStorage
    let onlyArchived = localStorage.getItem('onlyArchived');
    if (onlyArchived === null) {
        onlyArchived = false;
    } else {
        onlyArchived = (onlyArchived === 'true');
    }

    // Set the initial state of the checkbox
    const checkbox = document.getElementById('onlyArchived');
    checkbox.checked = onlyArchived;

    // Add an event listener to the checkbox
    checkbox.addEventListener('change', function() {
        // Update the state of the checkbox in localStorage
        localStorage.setItem('onlyArchived', this.checked);

        // Reload the page
        window.location.href = window.location.pathname + '?onlyArchived=' + this.checked;
    });
</script>
<script th:inline="javascript">
    let includeArchived = localStorage.getItem('includeArchived');
    if (includeArchived === null) {
        includeArchived = false;
    } else {
        includeArchived = (includeArchived === 'true');
    }

    // Set the initial state of the checkbox
    const checkbox = document.getElementById('includeArchived');
    checkbox.checked = includeArchived;

    // Add an event listener to the checkbox
    checkbox.addEventListener('change', function() {
        // Update the state of the checkbox in localStorage
        localStorage.setItem('includeArchived', this.checked);

        // Reload the page
        window.location.href = window.location.pathname + '?includeArchived=' + this.checked;
    });
</script>
<script>
    const keywordField = document.getElementById("keyword-field");
    const numberField = document.getElementById("number-field");
    const dateField = document.getElementById("date-field");

    const searchBySelect = document.getElementById("search-by");
    searchBySelect.addEventListener("change", function() {
        if (this.value === "username" || this.value === "status") {
            keywordField.style.display = "block";
            numberField.style.display = "none";
            dateField.style.display = "none";
        } else if (this.value == "vehicleId") {
            keywordField.style.display = "none";
            numberField.style.display = "block";
            dateField.style.display = "none";
        } else if (this.value == "startDate") {
            keywordField.style.display = "none";
            numberField.style.display = "none";
            dateField.style.display = "block";
        }
    });
</script>
</body>
</html>
