<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>


<nav th:replace="fragments/navbar :: navbar-employee-logged-in">
</nav>
<div class="container mt-5">
    <h1>Visit Details</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <a th:href="@{/employee/}" class="btn btn-primary mb-2">Dashboard</a>
            <a th:href="@{/visits/visit-invoice/{id}/pdf/generate(id=${visit.get().getId()})}"
               class="btn btn-primary mb-2">Generate PDF</a>
            <a th:href="@{/visits/}" class="btn btn-primary mb-2">Back</a>
        <div class="form-group">
            <label for="currency">Currency:</label>
            <select class="form-control" name="currency" id="currency" onchange="calculateTotal()">
                <option value="BGN">None</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="CHF">CHF</option>
            </select>
        </div>
        </div>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ID:</th>
            <td th:text="${visit.get().id}"></td>
        </tr>
        <tr>
            <th>Owner:</th>
            <td th:text="${visit.get().vehicle.getUser().username}"></td>
        </tr>
        <tr>
            <th>Vehicle:</th>
            <td th:text="${visit.get().vehicle.getCarModelId().getBrand().getBrandName()+' | '
            +visit.get().vehicle.getCarModelId().getModelName()+' | '
            +visit.get().vehicle.getLicensePlate()}"></td>
        </tr>
        <tr>
            <th>Services:</th>
            <td>
                <ul>
                    <li th:each="service : ${visit.get().getServices()}" class="price"
                        th:data-bgn-price="${service.getServicePrice()}"
                        th:text="${service.getServiceName() +': '+service.getServicePrice()}+' BGN.'">
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Start Date:</th>
            <td th:text="${visit.get().startDate}"></td>
        </tr>
        <tr>
            <th>Due Date:</th>
            <td th:text="${visit.get().dueDate}"></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="${visit.get().status}"></td>
        </tr>
        <tr>
            <th>Total amount (BGN):</th>
            <td th:text="${visit.get().displaySum() + ' BGN.'}" id="total"></td>
        </tr>
        <div id="totalAmountSection" style="display: none;">
            <th>Total amount in foreign currency:</th>
            <td id="totalInCurrency"></td>
        </div>
        </tbody>
    </table>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
        integrity="sha512-kK3qKNRs0tJyVfTgTtTqvTQKXhB0ZM7VBsGz8MBjK1sGB0AdJtVgTtHymT2lhG+JAGYfzfVieTHwkcH8djrh1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function calculateTotal() {
        const currency = document.getElementById("currency").value;
        const bgnAmount = parseFloat(document.getElementById("total").innerText);

        if (currency === "BGN") {
            document.getElementById("totalInCurrency").innerText = "";
            return;
        }

        axios.get("https://openexchangerates.org/api/latest.json?app_id=7e7c5da3150845e798197c12bcbc6484&symbols=BGN," + currency)
            .then(function(response) {
                const rate = response.data.rates[currency] / response.data.rates.BGN;
                const convertedAmount = (bgnAmount * rate).toFixed(2);
                document.getElementById("totalInCurrency").innerText = convertedAmount + " " + currency;
            })
            .catch(function(error) {
                console.log(error);
            });
    }
</script>
</body>
</html>