<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Visit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1>New Visit</h1>
    <form method="post" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${visitDTO}">
        <div class="form-group">
            <label for="vehicle">Vehicle:</label>
            <select class="form-control" name="vehicleId" id="vehicle" required>
                <option value="">-- Select Vehicle --</option>
                <option th:each="vehicle : ${vehicles}" th:value="${vehicle.vehicleId}"
                        th:text="${vehicle.getModelId().getBrand().getBrandName()
         + ' | ' + vehicle.getModelId().getModelName()
          + ' | ' + vehicle.licensePlate
          + ' | ' + vehicle.user.username}"></option>
            </select>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="serviceIds">Service:</label>-->
<!--            <div class="service-list">-->
<!--                <select class="form-control" name="serviceIds" id="serviceIds" required>-->
<!--                    <option value="">&#45;&#45; Select Service &#45;&#45;</option>-->
<!--                    <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>-->
<!--                </select>-->
<!--                <a href="#" class="add-service" id="add-service">Add Service</a>-->
<!--            </div>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/visits/}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script>
    const vehicles = [[${#httpServletRequest.getAttribute('vehicles')}]];
    function populateVehicles() {
        console.log("populateVehicles() called");
        const selectedOwner = document.getElementById("owner").value;
        const vehicleDropdown = document.getElementById("vehicle");
        const filteredVehicles = vehicles.filter(vehicle => vehicle.user.id.toString() === selectedOwner);
        console.log("filteredVehicles: " + filteredVehicles);

        // Clear existing options
        while (vehicleDropdown.options.length > 1) {
            vehicleDropdown.remove();
        }

        // Filter vehicles by owner
        for (let i = 0; i < filteredVehicles.length; i++) {
            const option = document.createElement("option");
            option.text = filteredVehicles[i].model;
            option.value = filteredVehicles[i].id;
            vehicleDropdown.add(option);
        }
    }
</script>
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        let serviceCount = 1;-->

<!--        $('.add-service').click(function(e) {-->
<!--            e.preventDefault();-->
<!--            serviceCount++;-->

<!--            const newService = $('<select class="form-control" name="service' + serviceCount + '" id="service' + serviceCount + '" required>\-->
<!--                              <option value="">&#45;&#45; Select Service &#45;&#45;</option>\-->
<!--                            </select>');-->
<!--            const options = $('.service-list select:first-of-type option').clone();-->
<!--            newService.append(options);-->
<!--            $('.service-list').append(newService);-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    var serviceIds = new Set();-->
<!--    document.getElementById("add-service").addEventListener("click", function(event) {-->
<!--        event.preventDefault();-->
<!--        var selectBox = document.getElementById("service");-->
<!--        var selectedServiceId = selectBox.options[selectBox.selectedIndex].value;-->
<!--        if (selectedServiceId) {-->
<!--            serviceIds.add(selectedServiceId);-->
<!--            console.log(serviceIds);-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>