<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>


<nav th:replace="fragments/navbar :: navbar-employee-logged-in">
</nav>
<div class="container mt-5">
    <h1>Visit Details</h1>
    <a th:href="@{/employee/}" class="btn btn-primary mb-2">Dashboard</a>
    <a th:href="@{/visits/}" class="btn btn-primary mb-2">Back</a>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ID:</th>
            <td th:text="${visit.get().id}"></td>
        </tr>
        <tr>
            <th>Owner:</th>
            <td th:text="${visit.get().vehicle.getUser().username}"></td>
        </tr>
        <tr>
            <th>Vehicle:</th>
            <td th:text="${visit.get().vehicle.getCarModelId().getBrand().getBrandName()+' | '
            +visit.get().vehicle.getCarModelId().getModelName()+' | '
            +visit.get().vehicle.getLicensePlate()}"></td>
        </tr>
        <tr>
            <th>Services:</th>
            <td>
                <ul>
                    <li th:each="service : ${visit.get().getServices()}"
                        th:text="${service.getServiceName() +': '+service.getServicePrice()}+' BGN.'"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Start Date:</th>
            <td th:text="${visit.get().startDate}"></td>
        </tr>
        <tr>
            <th>Due Date:</th>
            <td th:text="${visit.get().dueDate}"></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="${visit.get().status}"></td>
        </tr>
        <tr>
            <th>Total amount:</th>
            <td th:text="${visit.get().displaySum() + ' BGN.'}"></td>
        </tr>
        </tbody>
    </table>
    <form th:if="${visit.get().status.getName() == 'Not started' or visit.get().status.getName() == 'In progress'}"
          method="post" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${visit}">
        <div class="form-group">
            <label for="serviceIds">Service:</label>
            <div class="service-list">
                <select class="form-control" name="serviceIds" id="serviceIds" required>
                    <option value="">-- Select Service --</option>
                    <option th:each="service : ${services}" th:unless="${visit.get().getServices().contains(service)}"
                            th:value="${service.id}" th:text="${service.name + ' | price: '+service.price}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a th:href="@{/visits/}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-kK3qKNRs0tJyVfTgTtTqvTQKXhB0ZM7VBsGz8MBjK1sGB0AdJtVgTtHymT2lhG+JAGYfzfVieTHwkcH8djrh1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://openexchangerates.org/api/latest.json?app_id=7e7c5da3150845e798197c12bcbc6484"></script>
</body>
</html>